// VARIABLES
$primary-font: 'Saira Extra Condensed', sans-serif;
$secondary-font: 'Hedvig Letters Serif', serif;
$tertiary-font: 'Orbitron', sans-serif;
$background-color: #33748b;
$text-color: #ecf2f7;
$link-color: #5b456c;